{% extends "basefile.html" %}
{% block title %}
| AboutUs
{% endblock title%}

{% block mainbody %}

<div class="jumbotron jumbotron-fluid" style="background-color:#5c5955;">
  <div class="container">
    <h1 class="display-4">About Us</h1>
    <p class="lead">Who we are?</p>
  </div>
</div>


<div class="container my-4" >

	<div class="row">
		<div class="col-6 datablock" >
			<h3>Only Jobs! </h3>
We consider a company that we can automate its recruitment process and this
company is currently using a manual system to recruit employees; since recruiting
employees manually is a time consuming, possibly erroneous in employing
incompetent individuals, thus wasting of the company’s money or loosely speaking
not a wise strategy in terms of economy. Recruitment system is a process of selecting
potential candidates for a vacant position and hiring the candidates who fulfil the
requirement of the organization; hence hiring is a strategic function for human
resource department. Recruitment is a process of finding the potential resources for
filling up the vacant positions in an organization. It is a process of filtering the
candidates based on their abilities and attitude, which is required for achieving the
objectives of an organization. Recruitment process is a process of identifying the job
vacancies, analysing the job requirements, reviewing applications, screening,
shortlisting and selecting the right candidate. 
			

			
		</div>
		<div class="col-5 mx-1 datablock" style="text-align:justify;">
		<img src="/static/images/contact-1-720x480.jpg" class="d-block w-100" alt="..." height=400px>
			
</div>
	
	</div>

</div>




{% endblock mainbody %}